@media screen and (max-width:960px) {

    /* Services Start */

    .services-contanier .services-box {
        max-width: 45%;
    }

    /* Services End */
}


@media screen and (max-width:768px) {
    /* Navbar Start */

    header ul {
        display: block;
    }

    header ul li {
        display: block;
    }

    header ul li ul {
        width: 100%;
        z-index: 1;
    }

    /* Navbar End */


    /* Services Start */
    
    .services-contanier .services-box {
        max-width: 50%;
    }

    /* Services End */


}




@media screen and (max-width:480px) {

     /* Services Start */
    
    .services-contanier .services-box {
        max-width: 100%;
    }

    /* Services End */

}