* {
    margin: 0px;
    padding: 0px;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;

}

/* Navbar Start */
header {
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 1;


}


header ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}


header ul li {
    list-style: none;
    position: relative;
    padding: 10px 0px;

    transition: 0.5s;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header ul li:hover {
    background: #2196f3;
    transition: 0.5s;
}

header ul li:last-child {

    border-right: none;
}

header ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

/* Navbar Dropdown Start */

header ul li ul {
    position: absolute;
    top: 38px;
    left: 0px;
    display: block;
    background-color: #000;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


header ul li ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
}



/* Navbar Dropdown End */

/* Navbar End */



/* Services Start */


.services-section {
    background-image: url(../img/office.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.services-section .inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}



.services-section .inner-width .section-title {
    text-align: center;
    color: #ddd;
    font-size: 30px;
    text-transform: uppercase;
}

.border {
    display: block;
    width: 160px;
    height: 2px;
    background-color: #3498db;
    margin: 40px auto;
}


.services-contanier {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.services-contanier .services-box {
    max-width: 33.33%;
    text-align: center;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
}


.services-contanier .services-box .services-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #3498db;
    color: #3498db;
    transform: rotate(45deg);
    margin: 16px auto 30px;
    transition: 0.3s linear;
}

.services-contanier .services-box .services-icon i {
    transform: rotate(-45deg);
    line-height: 70px;
    font-size: 26px;
}


.services-contanier .services-box:hover .services-icon {
    background-color: #3498db;
    color: #ddd;

}

.services-contanier .services-box .service-title {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-contanier .services-box .service-desc {
    font-size: 14px;
}


/* Services End */



/* Team Start */

.Team-section {
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}

.Team-section h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #fff;
    font-size: 40px;
}

.image {
    margin-bottom: 40px;

}

.image a {
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.image a img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4 all;
}


.image a:hover > img {
    filter:none;
}

.section{
    margin: auto;
    font-size: 20px;
    width: 600px;
    color: #fff;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}

.name{
    display: block;
    margin-bottom:30px; 
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}